@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

body, html {
  height: 100%;
  font-family: "Lato", sans-serif;
  background: black;
  font-size: 6px; }

.bold {
  font-weight: bold; }

.flr {
  float: right; }

.inline {
  display: inline; }

.transparent {
  background: transparent; }

.hidden-overflow {
  overflow: hidden; }

.p-cursor {
  cursor: pointer; }

.hidden {
  visibility: hidden; }

.quote--emdash {
  quotes: "–" ""; }

.bg-white {
  background: #fff; }

.underline {
  text-decoration: underline; }

.indent-2 {
  text-indent: 0.2em; }

.od-list {
  color: #fff;
  margin: 0px 0px;
  padding: 0px 3rem; }

.ul--style-removed {
  list-style-type: none;
  margin: 0px 0px;
  padding: 0px; }

.container {
  display: block; }
  .container--position-fixed {
    position: fixed;
    width: 100vw;
    top: 0; }
  .container--display-flex {
    display: flex; }
  .container--display-grid {
    display: grid; }
  .container--map {
    padding: 12% 5%; }
    @media screen and (max-width: 1200px) {
      .container--map {
        padding: 25% 2%; } }
  .container--main {
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%; }
  .container--quicklinks {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%; }
  .container--carousel {
    padding: 2%; }
    @media screen and (max-width: 1200px) {
      .container--carousel {
        padding: 14% 2%; } }
  .container--features {
    padding: 5%; }
    @media screen and (max-width: 1200px) {
      .container--features {
        padding: 3%; } }
  .container--footer {
    padding: 2% 17%; }

.bg-jumbotron {
  background: url("/assets/images/bg_jumbotron.jpg") no-repeat;
  background-size: cover;
  height: auto;
  height: 100rem; }
  @media screen and (max-width: 1200px) {
    .bg-jumbotron {
      height: auto; } }

.bg-greygradient {
  background: url("/assets/images/bg_greygradient.jpg") no-repeat;
  background-size: cover;
  height: auto; }
  @media screen and (max-width: 1200px) {
    .bg-greygradient {
      height: auto; } }

.bg-greygradient-darker {
  background: url("/assets/images/bg_greygradient-darker.jpg") no-repeat;
  background-size: cover;
  height: auto; }
  @media screen and (max-width: 1200px) {
    .bg-greygradient-darker {
      height: auto; } }

.bg-map {
  background: url("/assets/images/bg_map.jpg") no-repeat;
  background-size: cover;
  height: auto;
  height: 100rem; }
  @media screen and (max-width: 1200px) {
    .bg-map {
      height: auto;
      height: 100rem; } }

.ic-fa-close {
  content: url("/assets/icons/fa-close_icon_15px.png");
  display: inline;
  vertical-align: baseline; }

.ic-fa-close-alone {
  content: url("/assets/icons/fa-close_icon_15px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-user {
  content: url("/assets/icons/user_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-user-alone {
  content: url("/assets/icons/user_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-lock {
  content: url("/assets/icons/lock_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-lock-alone {
  content: url("/assets/icons/lock_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-search {
  content: url("/assets/icons/search_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-search-alone {
  content: url("/assets/icons/search_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-bars {
  content: url("/assets/icons/bars_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-bars-alone {
  content: url("/assets/icons/bars_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-building {
  content: url("/assets/icons/building_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-building-alone {
  content: url("/assets/icons/building_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-externallink {
  content: url("/assets/icons/externallink_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-externallink-alone {
  content: url("/assets/icons/externallink_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-navigate-left {
  content: url("/assets/icons/navigate-left_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-navigate-left-alone {
  content: url("/assets/icons/navigate-left_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-navigate-right {
  content: url("/assets/icons/navigate-right_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-navigate-right-alone {
  content: url("/assets/icons/navigate-right_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-mi-show {
  content: url("/assets/icons/mi-show_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-mi-show-alone {
  content: url("/assets/icons/mi-show_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-android-people {
  content: url("/assets/icons/android-people_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-android-people-alone {
  content: url("/assets/icons/android-people_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-exchange {
  content: url("/assets/icons/exchange_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-exchange-alone {
  content: url("/assets/icons/exchange_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-ion-ios-body {
  content: url("/assets/icons/ion-ios-body_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-ion-ios-body-alone {
  content: url("/assets/icons/ion-ios-body_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-mfglabs-chart {
  content: url("/assets/icons/mfglabs-chart_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-mfglabs-chart-alone {
  content: url("/assets/icons/mfglabs-chart_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-mi-playlist-add-check {
  content: url("/assets/icons/mi-playlist-add-check_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-mi-playlist-add-check-alone {
  content: url("/assets/icons/mi-playlist-add-check_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ml-1 {
  margin-left: 10px; }

.mr-1 {
  margin-right: 10px; }

.mt-1 {
  margin-top: 10px; }

.mb-1 {
  margin-bottom: 10px; }

.pl-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.p-1 {
  padding: 10px; }

.ml-2 {
  margin-left: 20px; }

.mr-2 {
  margin-right: 20px; }

.mt-2 {
  margin-top: 20px; }

.mb-2 {
  margin-bottom: 20px; }

.pl-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.p-2 {
  padding: 20px; }

.ml-3 {
  margin-left: 30px; }

.mr-3 {
  margin-right: 30px; }

.mt-3 {
  margin-top: 30px; }

.mb-3 {
  margin-bottom: 30px; }

.pl-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.p-3 {
  padding: 30px; }

.ml-4 {
  margin-left: 40px; }

.mr-4 {
  margin-right: 40px; }

.mt-4 {
  margin-top: 40px; }

.mb-4 {
  margin-bottom: 40px; }

.pl-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.p-4 {
  padding: 40px; }

.ml-5 {
  margin-left: 50px; }

.mr-5 {
  margin-right: 50px; }

.mt-5 {
  margin-top: 50px; }

.mb-5 {
  margin-bottom: 50px; }

.pl-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.p-5 {
  padding: 50px; }

.ml-6 {
  margin-left: 60px; }

.mr-6 {
  margin-right: 60px; }

.mt-6 {
  margin-top: 60px; }

.mb-6 {
  margin-bottom: 60px; }

.pl-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.p-6 {
  padding: 60px; }

.ml-7 {
  margin-left: 70px; }

.mr-7 {
  margin-right: 70px; }

.mt-7 {
  margin-top: 70px; }

.mb-7 {
  margin-bottom: 70px; }

.pl-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.p-7 {
  padding: 70px; }

.ml-8 {
  margin-left: 80px; }

.mr-8 {
  margin-right: 80px; }

.mt-8 {
  margin-top: 80px; }

.mb-8 {
  margin-bottom: 80px; }

.pl-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.p-8 {
  padding: 80px; }

.ml-9 {
  margin-left: 90px; }

.mr-9 {
  margin-right: 90px; }

.mt-9 {
  margin-top: 90px; }

.mb-9 {
  margin-bottom: 90px; }

.pl-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.p-9 {
  padding: 90px; }

.ml-10 {
  margin-left: 100px; }

.mr-10 {
  margin-right: 100px; }

.mt-10 {
  margin-top: 100px; }

.mb-10 {
  margin-bottom: 100px; }

.pl-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.p-10 {
  padding: 100px; }

.brand {
  background: url("/assets/images/energy_logo_cropped.png") no-repeat;
  background-size: 100% auto;
  width: 250px;
  min-height: 36px; }
  @media screen and (max-width: 1200px) {
    .brand {
      width: 187.5px;
      min-height: 27px; } }

.navlink {
  display: inline;
  margin: auto;
  margin-right: 5rem;
  font-size: 3rem;
  color: #fff; }
  @media screen and (max-width: 1200px) {
    .navlink {
      display: none;
      margin-right: 1rem; }
      .navlink.navlink--notHiddenAtBreakpoint {
        display: block; } }

.version {
  font-size: 2rem;
  background-color: #ff5722;
  color: #fff;
  padding: 2px 9px; }
  @media screen and (max-width: 1200px) {
    .version {
      font-size: 1.5rem; } }

.flexbox {
  display: flex; }
  .flexbox--overflow-hidden {
    overflow: hidden; }
  .flexbox--alignContent-stretch {
    align-content: stretch; }
  .flexbox--justifyContent-flexStart {
    justify-content: flex-start; }
  .flexbox--justifyContent-spaceBetween {
    justify-content: space-between; }
  .flexbox--justifyContent-spaceAround {
    justify-content: space-around; }
  .flexbox--justifyContent-flexEnd {
    justify-content: flex-end; }
  .flexbox--flexDir-col {
    flex-direction: column; }
  .flexbox--flexDir-row {
    flex-direction: row; }
  .flexbox--alignItems-flexEnd {
    align-items: flex-end; }
  .flexbox--alignItems-center {
    align-items: center; }
  .flexbox--alignItems-baseline {
    align-items: baseline; }
  .flexbox--wrap {
    flex-wrap: wrap; }
  .flexbox--nowrap {
    flex-wrap: nowrap; }
  .flexbox__items--shrink {
    flex-shrink: 1; }
  .flexbox__items--grow {
    flex-grow: 1; }
  .flexbox__items--basis-half {
    flex-basis: 50%; }
  .flexbox__items--vertical-2 {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; }
  .flexbox__items--test {
    height: 200px;
    border: solid 1px red;
    text-align: center;
    vertical-align: middle;
    font-size: 36px; }
  .flexbox--navlinks {
    padding: 0px;
    margin: 0px 0px;
    margin-top: 12px; }
  .flexbox--quicklinks {
    height: 225rem; }
    @media screen and (max-width: 1200px) {
      .flexbox--quicklinks {
        height: auto; } }
  .flexbox--logoes {
    max-width: 285px; }

.input--transparent, .label--transparent {
  background: transparent;
  color: #fff;
  border: none;
  margin-right: 0px; }

.input--transparent {
  max-width: 86px;
  text-align: left;
  padding: 0px 0px;
  font-size: 17px;
  vertical-align: baseline; }
  .input--transparent::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */ }
  .input--transparent:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff; }
  .input--transparent::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff; }
  @media screen and (max-width: 1200px) {
    .input--transparent {
      background: #fff;
      color: #000;
      padding: 5px; }
      .input--transparent::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #000;
        opacity: 1;
        /* Firefox */ }
      .input--transparent:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #000; }
      .input--transparent::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #000; } }

@media screen and (max-width: 1200px) {
  .label--transparent {
    float: right;
    height: inherit;
    background: #607D8B;
    padding: 4px; } }

.jumbotron--main {
  padding: 1.4%;
  margin-right: 60%;
  height: 50rem; }
  @media screen and (max-width: 1200px) {
    .jumbotron--main {
      margin-right: 0%;
      padding: 31% 1.4%;
      height: 80rem; } }

.jumbotron--map {
  padding: 1.4%;
  margin-right: 60%;
  height: 50rem; }
  @media screen and (max-width: 1200px) {
    .jumbotron--map {
      margin-right: 0%;
      padding: 4%;
      height: 75rem; } }

.jumbotron__topbar {
  width: 100%;
  text-align: right;
  float: right; }

.jumbotron__title {
  font-size: 4.5rem;
  color: #fff; }

.jumbotron__text {
  color: #fff;
  font-size: 3rem; }

.jumbotron--overlaybg {
  background-color: rgba(111, 114, 103, 0.5); }

.jumbotron--rounded-border {
  border-radius: 4px; }

.button {
  border-radius: 3px; }
  .button--default {
    margin-right: 3rem;
    padding: 0px; }
    @media screen and (max-width: 1200px) {
      .button--default {
        margin-right: 0px;
        margin-bottom: 3rem; } }
  @media screen and (max-width: 1200px) {
    .button--centerNeeded {
      margin: auto; } }
  .button__span {
    border-right: solid 1px #fff;
    font-size: 3rem;
    padding: 1.5rem; }
  .button__text {
    font-size: 3rem;
    padding: 1.5rem; }
  .button--bgcolor-bluegray {
    background: #607D8B;
    color: #fff; }
  .button--bgcolor-cyan {
    background: #00BCD4;
    color: #fff; }
  .button--bgcolor-lime {
    background: #CDDC39;
    color: #fff; }
  .button--bgcolor-brown {
    background: #795548;
    color: #fff; }
  .button--bgcolor-black {
    background: #000;
    color: #fff; }
  .button--padding-tiny {
    padding: 1.5rem; }
  .button--marginRight-small {
    margin-right: 3rem; }
  .button--border-no {
    border: none; }

.ic-fa-close {
  content: url("/assets/icons/fa-close_icon_15px.png");
  display: inline;
  vertical-align: baseline; }

.ic-fa-close-alone {
  content: url("/assets/icons/fa-close_icon_15px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-user {
  content: url("/assets/icons/user_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-user-alone {
  content: url("/assets/icons/user_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-lock {
  content: url("/assets/icons/lock_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-lock-alone {
  content: url("/assets/icons/lock_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-search {
  content: url("/assets/icons/search_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-search-alone {
  content: url("/assets/icons/search_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-bars {
  content: url("/assets/icons/bars_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-bars-alone {
  content: url("/assets/icons/bars_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-building {
  content: url("/assets/icons/building_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-building-alone {
  content: url("/assets/icons/building_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-externallink {
  content: url("/assets/icons/externallink_icon_18px.png");
  display: inline;
  vertical-align: baseline; }

.ic-externallink-alone {
  content: url("/assets/icons/externallink_icon_18px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-navigate-left {
  content: url("/assets/icons/navigate-left_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-navigate-left-alone {
  content: url("/assets/icons/navigate-left_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-navigate-right {
  content: url("/assets/icons/navigate-right_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-navigate-right-alone {
  content: url("/assets/icons/navigate-right_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-mi-show {
  content: url("/assets/icons/mi-show_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-mi-show-alone {
  content: url("/assets/icons/mi-show_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-android-people {
  content: url("/assets/icons/android-people_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-android-people-alone {
  content: url("/assets/icons/android-people_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-exchange {
  content: url("/assets/icons/exchange_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-exchange-alone {
  content: url("/assets/icons/exchange_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-ion-ios-body {
  content: url("/assets/icons/ion-ios-body_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-ion-ios-body-alone {
  content: url("/assets/icons/ion-ios-body_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-mfglabs-chart {
  content: url("/assets/icons/mfglabs-chart_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-mfglabs-chart-alone {
  content: url("/assets/icons/mfglabs-chart_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ic-mi-playlist-add-check {
  content: url("/assets/icons/mi-playlist-add-check_icon_36px.png");
  display: inline;
  vertical-align: baseline; }

.ic-mi-playlist-add-check-alone {
  content: url("/assets/icons/mi-playlist-add-check_icon_36px.png");
  display: inline;
  vertical-align: text-bottom; }

.ml-1 {
  margin-left: 10px; }

.mr-1 {
  margin-right: 10px; }

.mt-1 {
  margin-top: 10px; }

.mb-1 {
  margin-bottom: 10px; }

.pl-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.p-1 {
  padding: 10px; }

.ml-2 {
  margin-left: 20px; }

.mr-2 {
  margin-right: 20px; }

.mt-2 {
  margin-top: 20px; }

.mb-2 {
  margin-bottom: 20px; }

.pl-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.p-2 {
  padding: 20px; }

.ml-3 {
  margin-left: 30px; }

.mr-3 {
  margin-right: 30px; }

.mt-3 {
  margin-top: 30px; }

.mb-3 {
  margin-bottom: 30px; }

.pl-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.p-3 {
  padding: 30px; }

.ml-4 {
  margin-left: 40px; }

.mr-4 {
  margin-right: 40px; }

.mt-4 {
  margin-top: 40px; }

.mb-4 {
  margin-bottom: 40px; }

.pl-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.p-4 {
  padding: 40px; }

.ml-5 {
  margin-left: 50px; }

.mr-5 {
  margin-right: 50px; }

.mt-5 {
  margin-top: 50px; }

.mb-5 {
  margin-bottom: 50px; }

.pl-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.p-5 {
  padding: 50px; }

.ml-6 {
  margin-left: 60px; }

.mr-6 {
  margin-right: 60px; }

.mt-6 {
  margin-top: 60px; }

.mb-6 {
  margin-bottom: 60px; }

.pl-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.p-6 {
  padding: 60px; }

.ml-7 {
  margin-left: 70px; }

.mr-7 {
  margin-right: 70px; }

.mt-7 {
  margin-top: 70px; }

.mb-7 {
  margin-bottom: 70px; }

.pl-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.p-7 {
  padding: 70px; }

.ml-8 {
  margin-left: 80px; }

.mr-8 {
  margin-right: 80px; }

.mt-8 {
  margin-top: 80px; }

.mb-8 {
  margin-bottom: 80px; }

.pl-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.p-8 {
  padding: 80px; }

.ml-9 {
  margin-left: 90px; }

.mr-9 {
  margin-right: 90px; }

.mt-9 {
  margin-top: 90px; }

.mb-9 {
  margin-bottom: 90px; }

.pl-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.p-9 {
  padding: 90px; }

.ml-10 {
  margin-left: 100px; }

.mr-10 {
  margin-right: 100px; }

.mt-10 {
  margin-top: 100px; }

.mb-10 {
  margin-bottom: 100px; }

.pl-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.p-10 {
  padding: 100px; }

.avatar--size-medium {
  height: 150px;
  width: 150px; }

.avatar--size-large {
  height: 250px;
  width: 250px; }

.avatar--rounded {
  border-radius: 50%; }

@media screen and (max-width: 1200px) {
  .avatar {
    margin: auto; } }

.logo {
  margin: 2% 2%; }
  .logo--myscale1 {
    width: 45%;
    height: 45%; }
  .logo--myscale2 {
    width: 100%;
    height: auto; }

.ic-fa-bars, .ic-fa-bars--alone, .ic-fa-building, .ic-fa-building--alone, .ic-fa-close, .ic-fa-close--alone, .ic-fa-exchange, .ic-fa-exchange--alone, .ic-fa-external-link, .ic-fa-external-link--alone, .ic-fa-lock, .ic-fa-lock--alone, .ic-fa-search, .ic-fa-search--alone, .ic-fa-user-plus, .ic-fa-user-plus--alone, .ic-ion-android-people, .ic-ion-android-people--alone, .ic-ion-arrow-graph-down-right, .ic-ion-arrow-graph-down-right--alone, .ic-ion-ios-body, .ic-ion-ios-body--alone, .ic-mfglabs-chart, .ic-mfglabs-chart--alone, .ic-mi-navigate-before_white, .ic-mi-navigate-before_white--alone, .ic-mi-navigate-before, .ic-mi-navigate-before--alone, .ic-mi-navigate-next, .ic-mi-navigate-next--alone, .ic-mi-navigate-next_white, .ic-mi-navigate-next_white--alone, .ic-mi-playlist-add-check, .ic-mi-playlist-add-check--alone, .ic-mi-show-chart, .ic-mi-show-chart--alone {
  display: inline;
  width: 3rem;
  height: 3rem; }

.ic-fa-bars {
  content: url("/assets/icons/fa-bars.png");
  vertical-align: baseline; }

.ic-fa-bars--alone {
  content: url("/assets/icons/fa-bars.png");
  vertical-align: text-bottom; }

.ic-fa-building {
  content: url("/assets/icons/fa-building.png");
  vertical-align: baseline; }

.ic-fa-building--alone {
  content: url("/assets/icons/fa-building.png");
  vertical-align: text-bottom; }

.ic-fa-close {
  content: url("/assets/icons/fa-close.png");
  vertical-align: baseline; }

.ic-fa-close--alone {
  content: url("/assets/icons/fa-close.png");
  vertical-align: text-bottom; }

.ic-fa-exchange {
  content: url("/assets/icons/fa-exchange.png");
  vertical-align: baseline; }

.ic-fa-exchange--alone {
  content: url("/assets/icons/fa-exchange.png");
  vertical-align: text-bottom; }

.ic-fa-external-link {
  content: url("/assets/icons/fa-external-link.png");
  vertical-align: baseline; }

.ic-fa-external-link--alone {
  content: url("/assets/icons/fa-external-link.png");
  vertical-align: text-bottom; }

.ic-fa-lock {
  content: url("/assets/icons/fa-lock.png");
  vertical-align: baseline; }

.ic-fa-lock--alone {
  content: url("/assets/icons/fa-lock.png");
  vertical-align: text-bottom; }

.ic-fa-search {
  content: url("/assets/icons/fa-search.png");
  vertical-align: baseline; }

.ic-fa-search--alone {
  content: url("/assets/icons/fa-search.png");
  vertical-align: text-bottom; }

.ic-fa-user-plus {
  content: url("/assets/icons/fa-user-plus.png");
  vertical-align: baseline; }

.ic-fa-user-plus--alone {
  content: url("/assets/icons/fa-user-plus.png");
  vertical-align: text-bottom; }

.ic-ion-android-people {
  content: url("/assets/icons/ion-android-people.png");
  vertical-align: baseline; }

.ic-ion-android-people--alone {
  content: url("/assets/icons/ion-android-people.png");
  vertical-align: text-bottom; }

.ic-ion-arrow-graph-down-right {
  content: url("/assets/icons/ion-arrow-graph-down-right.png");
  vertical-align: baseline; }

.ic-ion-arrow-graph-down-right--alone {
  content: url("/assets/icons/ion-arrow-graph-down-right.png");
  vertical-align: text-bottom; }

.ic-ion-ios-body {
  content: url("/assets/icons/ion-ios-body.png");
  vertical-align: baseline; }

.ic-ion-ios-body--alone {
  content: url("/assets/icons/ion-ios-body.png");
  vertical-align: text-bottom; }

.ic-mfglabs-chart {
  content: url("/assets/icons/mfglabs-chart.png");
  vertical-align: baseline; }

.ic-mfglabs-chart--alone {
  content: url("/assets/icons/mfglabs-chart.png");
  vertical-align: text-bottom; }

.ic-mi-navigate-before_white {
  content: url("/assets/icons/mi-navigate-before_white.png");
  vertical-align: baseline; }

.ic-mi-navigate-before_white--alone {
  content: url("/assets/icons/mi-navigate-before_white.png");
  vertical-align: text-bottom; }

.ic-mi-navigate-before {
  content: url("/assets/icons/mi-navigate-before.png");
  vertical-align: baseline; }

.ic-mi-navigate-before--alone {
  content: url("/assets/icons/mi-navigate-before.png");
  vertical-align: text-bottom; }

.ic-mi-navigate-next {
  content: url("/assets/icons/mi-navigate-next.png");
  vertical-align: baseline; }

.ic-mi-navigate-next--alone {
  content: url("/assets/icons/mi-navigate-next.png");
  vertical-align: text-bottom; }

.ic-mi-navigate-next_white {
  content: url("/assets/icons/mi-navigate-next_white.png");
  vertical-align: baseline; }

.ic-mi-navigate-next_white--alone {
  content: url("/assets/icons/mi-navigate-next_white.png");
  vertical-align: text-bottom; }

.ic-mi-playlist-add-check {
  content: url("/assets/icons/mi-playlist-add-check.png");
  vertical-align: baseline; }

.ic-mi-playlist-add-check--alone {
  content: url("/assets/icons/mi-playlist-add-check.png");
  vertical-align: text-bottom; }

.ic-mi-show-chart {
  content: url("/assets/icons/mi-show-chart.png");
  vertical-align: baseline; }

.ic-mi-show-chart--alone {
  content: url("/assets/icons/mi-show-chart.png");
  vertical-align: text-bottom; }

.ic--size-medium {
  width: 6rem;
  height: 6rem; }

@media screen and (max-width: 1200px) {
  .ic--minimized {
    width: 3rem;
    height: auto; } }

@media screen and (max-width: 1200px) {
  .ic--smallson {
    width: 1.5rem;
    height: auto; } }

.ic--size-large {
  width: 9rem;
  height: 9rem; }

.peoplebox {
  margin-left: 70px; }
  .peoplebox__quote {
    font-weight: bold;
    font-size: 6rem;
    color: #607D8B; }
  .peoplebox__name {
    font-weight: bold;
    font-size: 2.25rem;
    color: #607D8B; }
  .peoplebox__office {
    font-size: 2.25rem;
    color: #607D8B; }
  @media screen and (max-width: 1200px) {
    .peoplebox {
      text-align: center;
      margin-left: 0px; } }

.grid {
  display: grid; }
  .grid--feature {
    grid-template-columns: 9rem auto;
    grid-template-rows: auto;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    width: 120rem;
    margin-bottom: 9rem; }
    .grid--feature__icon {
      grid-area: 1/1/1/1;
      border-radius: 3px;
      border: solid 1px #fff;
      padding: 1.5rem;
      margin: auto 0px; }
    .grid--feature__title {
      grid-area: 1/2/1/2;
      font-size: 6rem;
      color: #fff; }
    .grid--feature__description {
      grid-area: 2/2/2/2;
      font-size: 18px;
      color: #fff; }
    .grid--feature__description--wide {
      grid-area: 2/1/2/span 2;
      font-size: 18px;
      color: #fff; }
    .grid--feature__additional {
      grid-area: 3/2/3/2; }
    .grid--feature__additional--wide {
      grid-area: 3/1/3/span 2;
      font-size: 3rem; }

.customCell__heading {
  font-weight: bold;
  font-size: 6rem;
  margin: 5px 5px; }

.customCell__address {
  font-size: 2rem;
  margin: 5px 5px; }

.customCell__postcode {
  font-size: 2rem;
  margin: 5px 5px; }

@media screen and (max-width: 1200px) {
  .button--custom-jumbo {
    margin-top: 25px; }
  .button--custom-peoplebox {
    margin: auto; }
  .grid--feature {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 25px; }
  .flexbox--custom-quicklinks {
    height: auto; }
  .flexbox__items--vertical-2 {
    width: 100%; } }

.abc.xyz {
  padding: 5px; }
