@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

body, html {
  height: 100%;
  font-family: "Lato", sans-serif;
  background: black;
  line-height: 1.8;
  font-size: 100%; }

:root {
  font-size: 6px; }

.bold {
  font-weight: bold; }

.flr {
  float: right; }

.inline {
  display: inline; }

.transparent {
  background: transparent; }

.hidden-overflow {
  overflow: hidden; }

.p-cursor {
  cursor: pointer; }

.hidden {
  visibility: hidden; }

.quote--emdash {
  quotes: "–" ""; }

.bg-white {
  background: #fff; }

.underline {
  text-decoration: underline; }

.indent-2 {
  text-indent: 0.2em; }

.od-list {
  color: #fff;
  margin: 0px 0px;
  padding: 0px 3rem; }

.ul--style-removed {
  list-style-type: none;
  margin: 0px 0px;
  padding: 0px; }

.border-box {
  box-sizing: border-box; }

.container {
  display: block; }
  .container--navigation {
    padding: 1.5rem 3rem; }
    @media screen and (max-width: 1200px) {
      .container--navigation {
        padding: 2%; } }
  .container--map {
    padding: 12% 5%; }
    @media screen and (max-width: 1200px) {
      .container--map {
        padding: 25% 2%; } }
  .container--main {
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%; }
  .container--quicklinks {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%; }
  .container--carousel {
    padding: 4% 2%; }
    @media screen and (max-width: 1200px) {
      .container--carousel {
        padding: 14% 2%; } }
  .container--features {
    padding: 5%; }
    @media screen and (max-width: 1200px) {
      .container--features {
        padding: 3%; } }
  .container--footer {
    padding: 2% 14%; }
    @media screen and (max-width: 1200px) {
      .container--footer {
        padding: 5% 8%; } }
  .container--overlaybg {
    background: rgba(96, 125, 139, 0.6); }
  .container--position-fixed {
    position: fixed;
    width: 98vw;
    top: 0; }
  .container--display-flex {
    display: flex; }
  .container--display-grid {
    display: grid; }
  .container--width-half {
    width: 50%; }
    @media screen and (max-width: 1200px) {
      .container--width-half {
        width: 100%; } }
  .container--float-left {
    float: left; }

.bg-jumbotron {
  background: url("/assets/images/bg_jumbotron.jpg") no-repeat;
  background-size: cover;
  height: auto;
  height: 90rem; }
  @media screen and (max-width: 1200px) {
    .bg-jumbotron {
      height: auto; } }

.bg-greygradient {
  background: url("/assets/images/bg_greygradient.jpg") no-repeat;
  background-size: cover;
  height: auto; }
  @media screen and (max-width: 1200px) {
    .bg-greygradient {
      height: auto; } }

.bg-greygradient-darker {
  background: url("/assets/images/bg_greygradient-darker.jpg") no-repeat;
  background-size: cover;
  height: auto; }
  @media screen and (max-width: 1200px) {
    .bg-greygradient-darker {
      height: auto; } }

.bg-map {
  background: url("/assets/images/bg_map.jpg") no-repeat;
  background-size: cover;
  height: auto;
  height: 90rem; }
  @media screen and (max-width: 1200px) {
    .bg-map {
      height: auto;
      height: 90rem; } }

.ml-1 {
  margin-left: 10px; }

.mr-1 {
  margin-right: 10px; }

.mt-1 {
  margin-top: 10px; }

.mb-1 {
  margin-bottom: 10px; }

.pl-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.p-1 {
  padding: 10px; }

.ml-2 {
  margin-left: 20px; }

.mr-2 {
  margin-right: 20px; }

.mt-2 {
  margin-top: 20px; }

.mb-2 {
  margin-bottom: 20px; }

.pl-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.p-2 {
  padding: 20px; }

.ml-3 {
  margin-left: 30px; }

.mr-3 {
  margin-right: 30px; }

.mt-3 {
  margin-top: 30px; }

.mb-3 {
  margin-bottom: 30px; }

.pl-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.p-3 {
  padding: 30px; }

.ml-4 {
  margin-left: 40px; }

.mr-4 {
  margin-right: 40px; }

.mt-4 {
  margin-top: 40px; }

.mb-4 {
  margin-bottom: 40px; }

.pl-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.p-4 {
  padding: 40px; }

.ml-5 {
  margin-left: 50px; }

.mr-5 {
  margin-right: 50px; }

.mt-5 {
  margin-top: 50px; }

.mb-5 {
  margin-bottom: 50px; }

.pl-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.p-5 {
  padding: 50px; }

.ml-6 {
  margin-left: 60px; }

.mr-6 {
  margin-right: 60px; }

.mt-6 {
  margin-top: 60px; }

.mb-6 {
  margin-bottom: 60px; }

.pl-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.p-6 {
  padding: 60px; }

.ml-7 {
  margin-left: 70px; }

.mr-7 {
  margin-right: 70px; }

.mt-7 {
  margin-top: 70px; }

.mb-7 {
  margin-bottom: 70px; }

.pl-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.p-7 {
  padding: 70px; }

.ml-8 {
  margin-left: 80px; }

.mr-8 {
  margin-right: 80px; }

.mt-8 {
  margin-top: 80px; }

.mb-8 {
  margin-bottom: 80px; }

.pl-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.p-8 {
  padding: 80px; }

.ml-9 {
  margin-left: 90px; }

.mr-9 {
  margin-right: 90px; }

.mt-9 {
  margin-top: 90px; }

.mb-9 {
  margin-bottom: 90px; }

.pl-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.p-9 {
  padding: 90px; }

.ml-10 {
  margin-left: 100px; }

.mr-10 {
  margin-right: 100px; }

.mt-10 {
  margin-top: 100px; }

.mb-10 {
  margin-bottom: 100px; }

.pl-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.p-10 {
  padding: 100px; }

.brand {
  background: url("/assets/images/energy_logo_cropped.png") no-repeat;
  background-size: 100% auto;
  width: 250px;
  min-height: 36px; }
  @media screen and (max-width: 1200px) {
    .brand {
      width: 187.5px;
      min-height: 27px; } }

.navlink {
  display: inline;
  margin: auto;
  margin-right: 5rem;
  font-size: 2.5rem;
  color: #fff; }
  @media screen and (max-width: 1200px) {
    .navlink {
      display: none;
      margin-right: 1rem; }
      .navlink.navlink--not-hidden {
        display: block; } }

.version {
  position: absolute;
  top: 7rem;
  left: 28rem;
  font-size: 2rem;
  background-color: #ff5722;
  color: #fff;
  padding: 0.5rem 1.5rem; }
  @media screen and (max-width: 1200px) {
    .version {
      font-size: 1.5rem;
      top: 6rem;
      left: 20rem; } }

.footer-box {
  color: #fff; }
  @media screen and (max-width: 1200px) {
    .footer-box {
      margin-bottom: 5rem; } }
  .footer-box__head-link {
    font-size: 2rem;
    margin: 1rem 1rem;
    margin-bottom: 3rem; }
  .footer-box__link {
    font-weight: bold;
    font-size: 2.25rem;
    margin: 1rem 1rem; }

.flexbox {
  display: flex; }
  .flexbox--overflow-hidden {
    overflow: hidden; }
  .flexbox--align-content-stretch {
    align-content: stretch; }
  .flexbox--justtify-content-flexStart {
    justify-content: flex-start; }
  .flexbox--justtify-content-space-between {
    justify-content: space-between; }
  .flexbox--justtify-content-space-around {
    justify-content: space-around; }
  .flexbox--justtify-content-flex-end {
    justify-content: flex-end; }
  .flexbox--direction-col {
    flex-direction: column; }
  .flexbox--align-items-flex-end {
    align-items: flex-end; }
  .flexbox--align-items-center {
    align-items: center; }
  .flexbox--align-items-baseline {
    align-items: baseline; }
  .flexbox--wrap {
    flex-wrap: wrap; }
  .flexbox--nowrap {
    flex-wrap: nowrap; }
  .flexbox__items--shrink {
    flex-shrink: 1; }
  .flexbox__items--grow {
    flex-grow: 1; }
  .flexbox__items--basis-half {
    flex-basis: 50%; }
    @media screen and (max-width: 1200px) {
      .flexbox__items--basis-half {
        flex-basis: 100%; } }
  .flexbox__items--width-half {
    width: 50%; }
  .flexbox__items--vertical-2 {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; }
  .flexbox__items--test {
    height: 200px;
    border: solid 1px red;
    text-align: center;
    vertical-align: middle;
    font-size: 36px; }
  .flexbox--quicklinks {
    height: 225rem; }
    @media screen and (max-width: 1200px) {
      .flexbox--quicklinks {
        height: auto; } }
  .flexbox--logoes {
    max-width: 285px; }
  @media screen and (max-width: 1200px) {
    .flexbox--footer {
      flex-direction: column; } }

.input--transparent, .label--transparent {
  background: transparent;
  color: #fff;
  border: none;
  margin-right: 0px; }

.input--transparent {
  max-width: 13rem;
  text-align: left;
  padding: 0px 0px;
  font-size: 2.5rem;
  vertical-align: baseline; }
  .input--transparent::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */ }
  .input--transparent:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff; }
  .input--transparent::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff; }
  @media screen and (max-width: 1200px) {
    .input--transparent {
      background: #fff;
      color: #000;
      padding: 1rem; }
      .input--transparent::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #000;
        opacity: 1;
        /* Firefox */ }
      .input--transparent:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #000; }
      .input--transparent::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #000; } }

@media screen and (max-width: 1200px) {
  .label--transparent {
    float: right;
    height: inherit;
    background: #607D8B;
    padding: 0.1rem 1rem; } }

.jumbotron--main {
  padding: 1.4%;
  margin-right: 40%;
  height: 50rem; }
  @media screen and (max-width: 1200px) {
    .jumbotron--main {
      margin-right: 0%;
      padding: 31% 1.4%;
      height: 80rem; } }

.jumbotron--map {
  padding: 1.4%;
  padding-left: 2.5%;
  padding-bottom: 2.5%;
  margin-right: 60%;
  height: auto; }
  @media screen and (max-width: 1200px) {
    .jumbotron--map {
      margin-right: 0%;
      padding: 4%;
      height: auto; } }

.jumbotron__topbar {
  width: 100%;
  text-align: right;
  float: right;
  margin-bottom: 1rem; }

.jumbotron__title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem; }
  .jumbotron__title--color-white {
    color: #fff; }
  .jumbotron__title--color-black {
    color: #000; }

.jumbotron__text {
  font-size: 2.5rem;
  margin-bottom: 4rem; }
  .jumbotron__text--color-white {
    color: #fff; }
  .jumbotron__text--color-black {
    color: #000; }

.jumbotron--overlaybg {
  background-color: rgba(111, 114, 103, 0.5); }

.jumbotron--rounded-border {
  border-radius: 4px; }

.button {
  border-radius: 3px; }
  .button--default {
    margin-right: 3rem;
    padding: 0px; }
    @media screen and (max-width: 1200px) {
      .button--default {
        margin-right: 3rem;
        margin-bottom: 3rem; } }
  @media screen and (max-width: 1200px) {
    .button--margin-auto-bp {
      margin: auto; } }
  .button--disabled {
    opacity: 0.5; }
  .button__span {
    border-right: solid 1px #fff;
    font-size: 2rem;
    padding: 1rem; }
  .button__text {
    font-size: 2rem;
    padding: 1rem; }
  .button--bgcolor-bluegray {
    background: #607D8B;
    color: #fff; }
  .button--bgcolor-cyan {
    background: #00BCD4;
    color: #fff; }
  .button--bgcolor-lime {
    background: #CDDC39;
    color: #fff; }
  .button--bgcolor-brown {
    background: #795548;
    color: #fff; }
  .button--bgcolor-black {
    background: #000;
    color: #fff; }
  .button--bgcolor-fade {
    background: #4b5453;
    color: #fff; }
  .button--bgcolor-autumn {
    background: #b9ad68;
    color: #fff; }
  .button--bgcolor-skyblue {
    background: #125e80;
    color: #fff; }
  .button--padding-tiny {
    padding: 1.5rem; }
  .button--margin-right-small {
    margin-right: 3rem; }
  .button--border-no {
    border: none; }

.ml-1 {
  margin-left: 10px; }

.mr-1 {
  margin-right: 10px; }

.mt-1 {
  margin-top: 10px; }

.mb-1 {
  margin-bottom: 10px; }

.pl-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.p-1 {
  padding: 10px; }

.ml-2 {
  margin-left: 20px; }

.mr-2 {
  margin-right: 20px; }

.mt-2 {
  margin-top: 20px; }

.mb-2 {
  margin-bottom: 20px; }

.pl-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.p-2 {
  padding: 20px; }

.ml-3 {
  margin-left: 30px; }

.mr-3 {
  margin-right: 30px; }

.mt-3 {
  margin-top: 30px; }

.mb-3 {
  margin-bottom: 30px; }

.pl-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.p-3 {
  padding: 30px; }

.ml-4 {
  margin-left: 40px; }

.mr-4 {
  margin-right: 40px; }

.mt-4 {
  margin-top: 40px; }

.mb-4 {
  margin-bottom: 40px; }

.pl-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.p-4 {
  padding: 40px; }

.ml-5 {
  margin-left: 50px; }

.mr-5 {
  margin-right: 50px; }

.mt-5 {
  margin-top: 50px; }

.mb-5 {
  margin-bottom: 50px; }

.pl-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.p-5 {
  padding: 50px; }

.ml-6 {
  margin-left: 60px; }

.mr-6 {
  margin-right: 60px; }

.mt-6 {
  margin-top: 60px; }

.mb-6 {
  margin-bottom: 60px; }

.pl-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.p-6 {
  padding: 60px; }

.ml-7 {
  margin-left: 70px; }

.mr-7 {
  margin-right: 70px; }

.mt-7 {
  margin-top: 70px; }

.mb-7 {
  margin-bottom: 70px; }

.pl-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.p-7 {
  padding: 70px; }

.ml-8 {
  margin-left: 80px; }

.mr-8 {
  margin-right: 80px; }

.mt-8 {
  margin-top: 80px; }

.mb-8 {
  margin-bottom: 80px; }

.pl-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.p-8 {
  padding: 80px; }

.ml-9 {
  margin-left: 90px; }

.mr-9 {
  margin-right: 90px; }

.mt-9 {
  margin-top: 90px; }

.mb-9 {
  margin-bottom: 90px; }

.pl-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.p-9 {
  padding: 90px; }

.ml-10 {
  margin-left: 100px; }

.mr-10 {
  margin-right: 100px; }

.mt-10 {
  margin-top: 100px; }

.mb-10 {
  margin-bottom: 100px; }

.pl-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.p-10 {
  padding: 100px; }

.avatar--size-medium {
  height: 150px;
  width: 150px; }

.avatar--size-large {
  height: 250px;
  width: 250px; }

.avatar--rounded {
  border-radius: 50%; }

@media screen and (max-width: 1200px) {
  .avatar {
    margin: auto; } }

.logo {
  margin: 2% 2%; }
  .logo--myscale1 {
    width: 45%;
    height: 45%; }
  .logo--myscale2 {
    width: 100%;
    height: auto; }

.ic-fa-bars, .ic-fa-bars--alone, .ic-fa-building, .ic-fa-building--alone, .ic-fa-close, .ic-fa-close--alone, .ic-fa-exchange, .ic-fa-exchange--alone, .ic-fa-external-link, .ic-fa-external-link--alone, .ic-fa-lock, .ic-fa-lock--alone, .ic-fa-search, .ic-fa-search--alone, .ic-fa-user-plus, .ic-fa-user-plus--alone, .ic-ion-android-people, .ic-ion-android-people--alone, .ic-ion-arrow-graph-down-right, .ic-ion-arrow-graph-down-right--alone, .ic-ion-ios-body, .ic-ion-ios-body--alone, .ic-mfglabs-chart, .ic-mfglabs-chart--alone, .ic-mi-navigate-before_white, .ic-mi-navigate-before_white--alone, .ic-mi-navigate-before, .ic-mi-navigate-before--alone, .ic-mi-navigate-next, .ic-mi-navigate-next--alone, .ic-mi-navigate-next_white, .ic-mi-navigate-next_white--alone, .ic-mi-playlist-add-check, .ic-mi-playlist-add-check--alone, .ic-mi-show-chart, .ic-mi-show-chart--alone, .ic-mi-explore, .ic-mi-explore--alone, .ic-mi-explore_gold, .ic-mi-explore_gold--alone {
  display: inline;
  width: 2rem;
  height: 2rem; }

.ic-fa-bars {
  content: url("/assets/icons/fa-bars.png");
  vertical-align: middle; }
  .ic-fa-bars.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-bars.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-bars.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-bars--alone {
  content: url("/assets/icons/fa-bars.png");
  vertical-align: text-bottom; }
  .ic-fa-bars--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-bars--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-bars--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-building {
  content: url("/assets/icons/fa-building.png");
  vertical-align: middle; }
  .ic-fa-building.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-building.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-building.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-building--alone {
  content: url("/assets/icons/fa-building.png");
  vertical-align: text-bottom; }
  .ic-fa-building--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-building--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-building--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-close {
  content: url("/assets/icons/fa-close.png");
  vertical-align: middle; }
  .ic-fa-close.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-close.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-close.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-close--alone {
  content: url("/assets/icons/fa-close.png");
  vertical-align: text-bottom; }
  .ic-fa-close--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-close--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-close--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-exchange {
  content: url("/assets/icons/fa-exchange.png");
  vertical-align: middle; }
  .ic-fa-exchange.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-exchange.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-exchange.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-exchange--alone {
  content: url("/assets/icons/fa-exchange.png");
  vertical-align: text-bottom; }
  .ic-fa-exchange--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-exchange--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-exchange--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-external-link {
  content: url("/assets/icons/fa-external-link.png");
  vertical-align: middle; }
  .ic-fa-external-link.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-external-link.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-external-link.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-external-link--alone {
  content: url("/assets/icons/fa-external-link.png");
  vertical-align: text-bottom; }
  .ic-fa-external-link--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-external-link--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-external-link--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-lock {
  content: url("/assets/icons/fa-lock.png");
  vertical-align: middle; }
  .ic-fa-lock.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-lock.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-lock.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-lock--alone {
  content: url("/assets/icons/fa-lock.png");
  vertical-align: text-bottom; }
  .ic-fa-lock--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-lock--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-lock--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-search {
  content: url("/assets/icons/fa-search.png");
  vertical-align: middle; }
  .ic-fa-search.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-search.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-search.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-search--alone {
  content: url("/assets/icons/fa-search.png");
  vertical-align: text-bottom; }
  .ic-fa-search--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-search--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-search--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-user-plus {
  content: url("/assets/icons/fa-user-plus.png");
  vertical-align: middle; }
  .ic-fa-user-plus.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-user-plus.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-user-plus.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-fa-user-plus--alone {
  content: url("/assets/icons/fa-user-plus.png");
  vertical-align: text-bottom; }
  .ic-fa-user-plus--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-fa-user-plus--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-fa-user-plus--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-ion-android-people {
  content: url("/assets/icons/ion-android-people.png");
  vertical-align: middle; }
  .ic-ion-android-people.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-ion-android-people.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-ion-android-people.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-ion-android-people--alone {
  content: url("/assets/icons/ion-android-people.png");
  vertical-align: text-bottom; }
  .ic-ion-android-people--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-ion-android-people--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-ion-android-people--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-ion-arrow-graph-down-right {
  content: url("/assets/icons/ion-arrow-graph-down-right.png");
  vertical-align: middle; }
  .ic-ion-arrow-graph-down-right.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-ion-arrow-graph-down-right.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-ion-arrow-graph-down-right.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-ion-arrow-graph-down-right--alone {
  content: url("/assets/icons/ion-arrow-graph-down-right.png");
  vertical-align: text-bottom; }
  .ic-ion-arrow-graph-down-right--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-ion-arrow-graph-down-right--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-ion-arrow-graph-down-right--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-ion-ios-body {
  content: url("/assets/icons/ion-ios-body.png");
  vertical-align: middle; }
  .ic-ion-ios-body.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-ion-ios-body.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-ion-ios-body.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-ion-ios-body--alone {
  content: url("/assets/icons/ion-ios-body.png");
  vertical-align: text-bottom; }
  .ic-ion-ios-body--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-ion-ios-body--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-ion-ios-body--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mfglabs-chart {
  content: url("/assets/icons/mfglabs-chart.png");
  vertical-align: middle; }
  .ic-mfglabs-chart.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mfglabs-chart.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mfglabs-chart.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mfglabs-chart--alone {
  content: url("/assets/icons/mfglabs-chart.png");
  vertical-align: text-bottom; }
  .ic-mfglabs-chart--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mfglabs-chart--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mfglabs-chart--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-navigate-before_white {
  content: url("/assets/icons/mi-navigate-before_white.png");
  vertical-align: middle; }
  .ic-mi-navigate-before_white.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-navigate-before_white.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-navigate-before_white.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-navigate-before_white--alone {
  content: url("/assets/icons/mi-navigate-before_white.png");
  vertical-align: text-bottom; }
  .ic-mi-navigate-before_white--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-navigate-before_white--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-navigate-before_white--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-navigate-before {
  content: url("/assets/icons/mi-navigate-before.png");
  vertical-align: middle; }
  .ic-mi-navigate-before.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-navigate-before.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-navigate-before.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-navigate-before--alone {
  content: url("/assets/icons/mi-navigate-before.png");
  vertical-align: text-bottom; }
  .ic-mi-navigate-before--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-navigate-before--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-navigate-before--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-navigate-next {
  content: url("/assets/icons/mi-navigate-next.png");
  vertical-align: middle; }
  .ic-mi-navigate-next.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-navigate-next.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-navigate-next.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-navigate-next--alone {
  content: url("/assets/icons/mi-navigate-next.png");
  vertical-align: text-bottom; }
  .ic-mi-navigate-next--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-navigate-next--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-navigate-next--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-navigate-next_white {
  content: url("/assets/icons/mi-navigate-next_white.png");
  vertical-align: middle; }
  .ic-mi-navigate-next_white.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-navigate-next_white.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-navigate-next_white.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-navigate-next_white--alone {
  content: url("/assets/icons/mi-navigate-next_white.png");
  vertical-align: text-bottom; }
  .ic-mi-navigate-next_white--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-navigate-next_white--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-navigate-next_white--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-playlist-add-check {
  content: url("/assets/icons/mi-playlist-add-check.png");
  vertical-align: middle; }
  .ic-mi-playlist-add-check.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-playlist-add-check.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-playlist-add-check.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-playlist-add-check--alone {
  content: url("/assets/icons/mi-playlist-add-check.png");
  vertical-align: text-bottom; }
  .ic-mi-playlist-add-check--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-playlist-add-check--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-playlist-add-check--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-show-chart {
  content: url("/assets/icons/mi-show-chart.png");
  vertical-align: middle; }
  .ic-mi-show-chart.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-show-chart.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-show-chart.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-show-chart--alone {
  content: url("/assets/icons/mi-show-chart.png");
  vertical-align: text-bottom; }
  .ic-mi-show-chart--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-show-chart--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-show-chart--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-explore {
  content: url("/assets/icons/mi-explore.png");
  vertical-align: middle; }
  .ic-mi-explore.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-explore.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-explore.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-explore--alone {
  content: url("/assets/icons/mi-explore.png");
  vertical-align: text-bottom; }
  .ic-mi-explore--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-explore--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-explore--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-explore_gold {
  content: url("/assets/icons/mi-explore_gold.png");
  vertical-align: middle; }
  .ic-mi-explore_gold.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-explore_gold.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-explore_gold.size-500 {
    width: 5rem;
    height: 5rem; }

.ic-mi-explore_gold--alone {
  content: url("/assets/icons/mi-explore_gold.png");
  vertical-align: text-bottom; }
  .ic-mi-explore_gold--alone.size-225 {
    width: 2.25rem;
    height: 2.25rem; }
  .ic-mi-explore_gold--alone.size-300 {
    width: 3rem;
    height: 3rem; }
  .ic-mi-explore_gold--alone.size-500 {
    width: 5rem;
    height: 5rem; }

.ic--size-medium {
  width: 4rem;
  height: 4rem; }

@media screen and (max-width: 1200px) {
  .ic--minimized {
    width: 3rem;
    height: auto; } }

@media screen and (max-width: 1200px) {
  .ic--smallson {
    width: 1.5rem;
    height: auto; } }

.ic--size-large {
  width: 9rem;
  height: 9rem; }

.peoplebox {
  margin-left: 70px; }
  .peoplebox__quote {
    font-weight: bold;
    font-size: 6rem;
    color: #607D8B;
    margin-bottom: 3rem; }
  .peoplebox__name {
    font-weight: bold;
    font-size: 2.25rem;
    color: #607D8B;
    margin-bottom: 1.5rem; }
  .peoplebox__office {
    font-size: 2.25rem;
    color: #607D8B;
    margin-bottom: 1.5rem; }
  @media screen and (max-width: 1200px) {
    .peoplebox {
      text-align: center;
      margin-left: 0px; } }

.grid--feature, .grid--feature-block {
  grid-template-columns: 9rem auto;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-bottom: 9rem;
  box-sizing: border-box; }

.grid {
  display: grid; }
  .grid--feature {
    width: 40%; }
    @media screen and (max-width: 1200px) {
      .grid--feature {
        grid-template-columns: 9rem auto;
        width: 100vw;
        flex-basis: unset;
        margin-bottom: 25px; } }
  .grid--feature-block {
    width: 80%; }
    @media screen and (max-width: 1200px) {
      .grid--feature-block {
        grid-template-columns: 9rem auto;
        width: 100%; } }
  .grid__icon {
    grid-area: 1/1/1/1;
    border-radius: 3px;
    border: solid 1px #eee;
    padding: 1.5rem;
    margin: auto 0px; }
    .grid__icon--bgcolor-lightgrey {
      background: #eee; }
  .grid__title {
    grid-area: 1/2/1/2;
    font-size: 3rem;
    overflow: hidden;
    color: #fff; }
  .grid__description {
    grid-area: 2/2/2/2;
    font-size: 2rem;
    overflow: hidden;
    color: #fff; }
  .grid__description--wide {
    grid-area: 2/1/2/span 2;
    font-size: 2rem;
    color: #fff; }
  .grid__additional {
    grid-area: 3/2/3/2; }
  .grid__additional--wide {
    grid-area: 3/1/3/span 2;
    font-size: 2rem; }

.custom-cell__heading {
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem 0rem; }
  @media screen and (max-width: 1200px) {
    .custom-cell__heading {
      margin-bottom: 6rem; } }

.custom-cell__address {
  font-size: 2rem;
  margin: 1rem 0rem; }

.custom-cell__postcode {
  font-size: 2rem;
  margin: 1rem 0rem; }

.center-text {
  vertical-align: middle; }

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  line-height: 7rem; }

/* Customize the label  */
.w3checkbox {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 2rem;
  /* On mouse-over, add a grey background color */ }
  .w3checkbox input {
    /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    /* When the checkbox is checked, add a blue background */ }
    .w3checkbox input:checked ~ .checkmark {
      background-color: #607D8B; }
      .w3checkbox input:checked ~ .checkmark:after {
        display: block; }
  .w3checkbox:hover input ~ .checkmark {
    background-color: #ccc; }
  .w3checkbox .checkmark:after {
    left: 0.8rem;
    top: 0.5rem;
    width: 0.5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 0.35rem 0.35rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
  /* Create the checkmark/indicator (hidden when not checked) */ }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
