@import "base/typography";

@import "helpers/variables";

@import "partials/miscancellous";
// @import "partials/navigation";

@import "partials/containers";
@import "partials/navigation_new";
@import "partials/flexbox";
@import "partials/forms";
@import "partials/jumbotron";
@import "partials/button";
@import "partials/image";
@import "partials/peoplebox";

@import "partials/grid";

@media screen and (max-width: $breakpoint) {

    .brand {
        width: 250px /4 * 3;
        min-height: 36px /4 *3;
    }

    .navlink  {
        display: none;
        margin-right: 10px;
        &.navlink--notHidden {
            display: block;
        }
    }

    .version {
        font-size: $navbar_version_label_fontsize /4*3;
    }

    .transparent-btn {        
        float: right;
        height: inherit;
        background: $bluegray-500;
        padding: $search_input_padding - 1px;        
    }

    .transparent-input {
        background: $white;
        color: $black;
        padding: $search_input_padding;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $black;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $black;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $black;
        }    
    }

    .jumbotron {
        padding-right: 5%;
    }

    .button {
        &--custom-jumbo {
            margin-top: 25px;
        }
        &--custom-peoplebox {
            margin: auto;
        }

        &__text {
            padding: 0px;
            font-size: initial;
        }
    }

    .avatar {
        margin: auto;
    }

    .peoplebox {
        text-align: center;
        margin-left: 0px;
    }

    .grid {
        &--feature {
            flex-basis: 100%;
            flex-shrink: 0;
            flex-grow: 0;

            margin-bottom: 25px;
        }
    }

    .flexbox {
        &--custom-features {
            padding: 10px;
            padding-top: 30px;
        }
    }
}

@mixin test($param){
	&.xyz {
        padding: $param;
    }
}

.abc {
    @include test(5px);
}