@import "helpers/variables";
.button {    
    border-radius: 3px;

    // Customs
    &--default {
        margin-right: $small;
        padding: 0px;

        @media screen and (max-width: $breakpoint) {
            margin-right: 0px;
            margin-bottom: $small;
        }
    }
    &--centerNeeded {
        @media screen and (max-width: $breakpoint) {
            margin: auto;
        }
    }

    // Elements
    &__span {
        border-right: solid 1px $white;
        font-size: $small;    
        
        padding: $tiny;
        // padding-left: 0px;

        @media screen and (max-width: $breakpoint) {
        }
    }

    &__text {
        font-size: $small;

        padding: $tiny;
        // padding-right: 0px;

        @media screen and (max-width: $breakpoint) {     
        }
    }

    // Modifiers
    &--bgcolor-bluegray {
        background: $bluegray-500;        
        color: $white;
    }

    &--bgcolor-cyan {
        background: $cyan-500;        
        color: $white;
    }

    &--bgcolor-lime {
        background: $lime-500;        
        color: $white;
    }
    &--bgcolor-brown {
        background: $brown-500;
        color: $white;
    }
    &--bgcolor-black {
        background: $black;
        color: $white;
    }

    &--padding-tiny {
        padding: $tiny;
    }

    &--marginRight-small {
        margin-right: $small;
    }

    &--border-no {
        border: none;
    }
}