@import "helpers/variables";
.button {    
    border-radius: 3px;

    // Customs
    &--default {
        margin-right: 3rem;
        padding: 0px;

        @media screen and (max-width: $breakpoint) {
            margin-right: 3rem;
            margin-bottom: 3rem;
        }
    }
    &--margin-auto-bp {
        @media screen and (max-width: $breakpoint) {
            margin: auto;
        }
    }
    &--disabled {
        opacity: 0.5;
    }

    // Elements
    &__span {
        border-right: solid 1px $white;
        font-size: 2rem;    
        
        padding: 1rem;
        // padding-left: 0px;

        @media screen and (max-width: $breakpoint) {
        }
    }

    &__text {
        font-size: 2rem;

        padding: 1rem;
        // padding-right: 0px;

        @media screen and (max-width: $breakpoint) {     
        }
    }

    // Modifiers
    &--bgcolor-bluegray {
        background: $bluegray-500;        
        color: $white;
    }

    &--bgcolor-cyan {
        background: $cyan-500;        
        color: $white;
    }

    &--bgcolor-lime {
        background: $lime-500;        
        color: $white;
    }
    &--bgcolor-brown {
        background: $brown-500;
        color: $white;
    }
    &--bgcolor-black {
        background: $black;
        color: $white;
    }

    &--bgcolor-fade {
        background: $fade;
        color: $white;
    }
    &--bgcolor-autumn {
        background: $autumn;
        color: $white;
    }
    &--bgcolor-skyblue {
        background: $skyblue;
        color: $white;
    }


    &--padding-tiny {
        padding: 1.5rem;
    }

    &--margin-right-small {
        margin-right: 3rem;
    }

    &--border-no {
        border: none;
    }
}