@import "helpers/variables";

/* Customize the label  */
.w3checkbox {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 2rem;

    & input {
        /* Hide the browser's default checkbox */
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        /* When the checkbox is checked, add a blue background */
        &:checked {
            // to the checkmark span
            &~.checkmark {
                background-color: $bluegray-500;
                &:after {
                    display: block;
                }
            }
            
        }
    }
    /* On mouse-over, add a grey background color */
    &:hover {
        & input~.checkmark {
            background-color: #ccc;            
        }
    }

    & .checkmark {
        &:after {
            left: 0.8rem;
            top: 0.5rem;
            width: 0.5rem;
            height: 1rem;
            border: solid white;
            border-width: 0 0.35rem 0.35rem 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #eee;
    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}