.container {
    &--position-fixed {
        position: fixed;
        width: 100%;
        top: 0;
    }

    &--display-flex {
        display: flex;
    }

    &--display-grid {
        display: grid;
    }
}