.container {
    display: block;

    // custom
    &--navigation {
        padding: 1.5rem 3rem;
        @media screen and (max-width:$breakpoint) {
            padding: 2%;
        }        
    }
    &--map {
        padding: 12% 5%;
        @media screen and (max-width: $breakpoint) {
            padding: 25% 2%;
        }
    }

    &--main {
        padding-top: 12%;
        padding-left: 5%;
        padding-right: 5%;
    }

    &--quicklinks {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    &--carousel {
        padding: 4% 2%;
        @media screen and (max-width: $breakpoint) {
            padding: 14% 2%;
        }
    }

    &--features {
        padding: 5%;
        @media screen and (max-width: $breakpoint) {
            padding: 3%;
        }
    }

    &--footer {
        padding: 2% 14%;
        @media screen and (max-width: $breakpoint) {
            padding: 5% 8%;            
        }
    }

    &--overlaybg {
        background: rgba($bluegray-500, 0.6)
    }

    // modifiers
    &--position-fixed {
        position: fixed;
        width: 98vw;
        top: 0;
    }

    &--display-flex {
        display: flex;
    }

    &--display-grid {
        display: grid;
    }

    &--width-half {
        width: 50%;
        @media screen and (max-width: $breakpoint) {
            width: 100%;
        }
    }

    &--float-left {
        float: left;
    }
}

$bg-list: 'jumbotron', 'greygradient', 'greygradient-darker', 'map';
@each $name in $bg-list {
    .bg-#{$name} {
        background: url("/assets/images/bg_#{$name}.jpg") no-repeat;
        background-size: cover;
        height: auto;
        @if $name == "jumbotron" {height: 90rem;}
        @if $name == "map" {height: 90rem;}
        
        @media screen and (max-width: $breakpoint) {
            height: auto;
            // @if $name == "jumbotron" {height: 90rem;}
            @if $name == "map" {height: 90rem;}
        }
    }
}