.flexbox {
    display: flex;

    // overflow
    &--overflow-hidden {
        overflow: hidden;
    }

    // align content 
    &--alignContent-stretch {
        align-content: stretch;
    }

    // justify content
    &--justifyContent-flexStart {
        justify-content: flex-start;
    }    
    &--justifyContent-spaceBetween {
        justify-content: space-between;
    }    
    &--justifyContent-spaceAround {
        justify-content: space-around;
    }      
    &--justifyContent-flexEnd {
        justify-content: flex-end;
    }

    // flex direction
    &--flexDir-col {
        flex-direction: column;
    }
    &--flexDir-row {
        flex-direction: row;
    }

    // align items
    &--alignItems-flexEnd {
        align-items: flex-end;
    }
    &--alignItems-center {
        align-items: center;
    }
    &--alignItems-baseline {
        align-items: baseline;
    }

    // flex wrap
    &--wrap {
        flex-wrap: wrap;
    }
    &--nowrap {
        flex-wrap: nowrap;
    }    

    // item element
    &__items {
        &--shrink{
            flex-shrink: 1;
        }

        &--grow {
            flex-grow: 1;
        }

        &--basis-half {
            flex-basis: 50%;
        }

        &--vertical-2 {
            width: 50%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
        }

        &--test {
            height: 200px;
            border: solid 1px red;
            text-align: center;
            vertical-align: middle;
            font-size: 36px;
        }
    }

    // custom flexbox
    &--navlinks {
        padding: 0px;
        margin: 0px 0px;
        margin-top: 12px;
    }
    &--quicklinks {
        height: 225rem;
        @media screen and (max-width: $breakpoint) {
            height: auto;
        }
    }
    &--logoes {
        max-width: 285px;
    }
}