.flexbox {
    display: flex;

    // overflow
    &--overflow-hidden {
        overflow: hidden;
    }

    // align content 
    &--align-content-stretch {
        align-content: stretch;
    }

    // justify content
    &--justtify-content-flexStart {
        justify-content: flex-start;
    }    
    &--justtify-content-space-between {
        justify-content: space-between;
    }    
    &--justtify-content-space-around {
        justify-content: space-around;
    }      
    &--justtify-content-flex-end {
        justify-content: flex-end;
    }

    // flex direction
    &--direction-col {
        flex-direction: column;
    }

    // align items
    &--align-items-flex-end {
        align-items: flex-end;
    }
    &--align-items-center {
        align-items: center;
    }
    &--align-items-baseline {
        align-items: baseline;
    }

    // flex wrap
    &--wrap {
        flex-wrap: wrap;
    }
    &--nowrap {
        flex-wrap: nowrap;
    }    

    // item element
    &__items {
        &--shrink{
            flex-shrink: 1;
        }

        &--grow {
            flex-grow: 1;
        }

        &--basis-half {
            flex-basis: 50%;
            @media screen and (max-width: $breakpoint) {
                flex-basis: 100%;
            }
        }

        &--width-half {
            width: 50%;
        }

        &--vertical-2 {
            width: 50%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
        }

        &--test {
            height: 200px;
            border: solid 1px red;
            text-align: center;
            vertical-align: middle;
            font-size: 36px;
        }
    }

    // custom flexbox
    &--navlinks {
        // padding: 0px;
    }
    &--quicklinks {
        height: 225rem;
        @media screen and (max-width: $breakpoint) {
            height: auto;
        }
    }
    &--logoes {
        max-width: 285px;
    }
    &--footer {
        @media screen and (max-width: $breakpoint) {
            flex-direction: column;
        }
    }
}