@import "helpers/variables";
.form {

}

%transparent {
    background: transparent;    
    color: #fff;    
    border: none;
    margin-right: 0px;
}

.input {
    &--transparent {
        @extend %transparent;
        max-width: 13rem;
        text-align: left;
        padding: 0px 0px;
        font-size: 2.5rem;
        vertical-align: baseline;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #fff;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: #fff;
        }

        @media screen and (max-width: $breakpoint) {
            background: $white;
            color: $black;
            padding: 1rem;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $black;
                opacity: 1; /* Firefox */
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $black;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $black;
            }    
        }
    }
}

.label {
    &--transparent {
        @extend %transparent;
        
        @media screen and (max-width: $breakpoint) {
            float: right;
            height: inherit;
            background: $bluegray-500;
            padding: 1rem;
        }
    }
}