@import "helpers/mixins";

.avatar {

    &--size-medium {
        height: 150px;
        width: 150px;
    }

    &--size-large {
        height: 250px;
        width: 250px;
    }
    &--rounded {
        border-radius: 50%;
    }

    @media screen and (max-width: $breakpoint) {
        margin: auto;
    }
}

.logo {
    margin: 2% 2%;
    &--myscale1 {
        width: 45%;
        height: 45%;
    }
    &--myscale2 {
        width: 100%;
        height: auto;
    }
}