@import "helpers/variables";
.jumbotron {
    // padding-top: 15%;
    // padding: 1.4%;
    // margin-right: 60%;
    // padding: 2%;

    // &--overlaybg {
    //     background
    // }

    &--main {
        padding: 1.4%;
        margin-right: 40%;
        height: 50rem;
        @media screen and (max-width: $breakpoint) {
            margin-right: 0%;
            padding: 31% 1.4%;
            height: 80rem;
        }
    }

    &--map {
        padding: 1.4%;
        padding-left: 2.5%;
        padding-bottom: 2.5%;
        margin-right: 60%;
        height: auto;
        @media screen and (max-width: $breakpoint) {
            margin-right: 0%;
            padding: 4%;
            height: auto;
        }
    }

    &__topbar {
        width: 100%;
        text-align: right;
        float: right;

        margin-bottom: 1rem;
    }
    
    &__title {
        font-size: 4rem;
        font-weight: bold;
        
        &--color-white {
            color: #fff;
        }
        &--color-black {
            color: #000;
        }

        margin-bottom: 4rem;
    }

    &__text {
        font-size: 2.5rem;
        &--color-white {
            color: #fff;
        }
        &--color-black {
            color: #000;
        }
        
        margin-bottom: 4rem;
    }
    
    &__action {

    }

    &--overlaybg {
        background-color: rgba($color: $greenbrown, $alpha: 0.5)
    }

    &--rounded-border {
        border-radius: 4px;
    }
}