.bold {
    font-weight: bold;
}

.flr {
    float: right;
}

.inline {
    display: inline;
}

.transparent {
    background: transparent;
}

.hidden-overflow {
    overflow: hidden;
}

.p-cursor {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.quote {
    &--emdash {
        quotes: "–" "";
    }
}

.bg-white {
    background: $white;
}

.underline {
    text-decoration: underline;
}

.indent-2 {
    text-indent: 0.2em;
}

.od-list {
    color: $white;
    margin: 0px 0px;
    padding: 0px 3rem;
}

.ul--style-removed {
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px;
}