.bold {
    font-weight: bold;
}

.flr {
    float: right;
}

.d-inline {
    display: inline;
}

.transparent {
    background: transparent;
}

.hidden-overflow {
    overflow: hidden;
}

.p-cursor {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.quote {
    &--emdash {
        quotes: "–" "";
    }
}

.bg-white {
    background: $white;
}