@import "helpers/mixins";
@import "helpers/variables";

.brand {
    @include img_background($energy_logo_path);
    text-indent: -9999px;
    width: 250px;
    min-height: 36px;
}

%navbar_text {
    font-size: $navbar_fontsize;
}

.navlink {
    // display: inline;
    margin-right: $navbar_items_margin_right;
    font-size: $navbar_fontsize;
    color: $white;
}

.version {
    font-size: $navbar_version_label_fontsize;
    background-color: $orange-500;
    color: $white;
    padding: 2px 9px;
}
