@import "helpers/variables";
.peoplebox {

    margin-left: 70px;

    &__quote {
        font-weight: bold;
        font-size: $medium;
        color: $bluegray-500;
    }
    &__name {
        font-weight: bold;
        font-size: ($small + $tiny)/2;
        color: $bluegray-500;
    }
    &__office {
        font-size: ($small + $tiny)/2;
        color: $bluegray-500;
    }

    @media screen and (max-width: $breakpoint) {
        text-align: center;
        margin-left: 0px;
    }
}