$primary-color: #fff;
$secondary-color: #23ff22;
$white: #fff;
$black: #000;
$orange-500: #ff5722;
$bluegray-500: #607D8B;
$cyan-500: #00BCD4;
$lime-500: #CDDC39;
$brown-500: #795548;
$greenbrown: #6f7267;

$fade: #4b5453;
$skyblue: #125e80;
$autumn: #b9ad68;