@for $i from 1 through 10 {
    .ml-#{$i} {
        margin-left: $i * 10px;
    }
    .mr-#{$i} {
        margin-right: $i * 10px;
    }
    .mt-#{$i} {
        margin-top: $i * 10px;
    }
    .mb-#{$i} {
        margin-bottom: $i * 10px;
    }
    .pl-#{$i} {
        padding-bottom: $i * 10px;
    }
    .pb-#{$i} {
        padding-bottom: $i * 10px;
    }
    .pb-#{$i} {
        padding-bottom: $i * 10px;
    }
    .pb-#{$i} {
        padding-bottom: $i * 10px;
    }
    .p-#{$i} {
        padding: $i * 10px;
    }
}