@import "colors";
$font-stack: "Lato", sans-serif;

$logo_path: "/assets/images/milean_logo_cropped.png";
$energy_logo_path: "/assets/images/energy_logo_cropped.png";

$tiny: 1.5rem;
$small: 3rem;
$medium: 6rem;
$large: 9rem;

$breakpoint: 1200px;