$primary-color: #fff;
$material-orange-500: #ff5722;

$font-stack: "Lato", sans-serif;

$logo_path: url("/assets/images/milean_logo_cropped.png");
$energy_logo_path: url("/assets/images/energy_logo_cropped.png");

$navbar_fontsize: 18px;
$navbar_label: 13px;
$navbar_inlineform_width: 86px;