$primary-color: #fff;
$secondary-color: #23ff22;
$white: #fff;
$black: #000;
$orange-500: #ff5722;
$bluegray-500: #607D8B;
$cyan-500: #00BCD4;
$lime-500: #CDDC39;

$greenbrown: #6f7267;


$font-stack: "Lato", sans-serif;

$logo_path: "/assets/images/milean_logo_cropped.png";
$energy_logo_path: "/assets/images/energy_logo_cropped.png";

$icon_user_path: "/assets/icons/user_icon_18px.png";
$icon_lock_path: "/assets/icons/lock_icon_18px.png";

$navbar_fontsize: 18px;
$navbar_version_label_fontsize: 13px;
$navbar_inlineform_width: 86px;
$navbar_items_margin_right: 33px;

$search_input_padding: 5px;

$breakpoint: 1200px;

$bg-jumbo-height: 800px;

$button-medium-padding: 10px;